/* search.module.css */

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  margin-bottom: 1rem;
}

input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  font-size: 1rem;
  color: #860d0d;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

input:focus {
  border-color: #4caf50;
}

button {
  margin-left: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.5s; /* Added transition for the shake effect */
}

button:hover {
  background-color: #45a049;
}

/* Shaking animation */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s;
}
